body
{
	padding-top: 50px;
	padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content
{
	padding-left: 15px;
	padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input, select, textarea
{
	max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error
{
	color: #b94a48;
}

.field-validation-valid
{
	display: none;
}

input.input-validation-error
{
	border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error
{
	border: 0 none;
}

.validation-summary-errors
{
	color: #b94a48;
}

.validation-summary-valid
{
	display: none;
}

.DisplayNoneColum
{
	display: none;
}

.CellPaddingGW
{
	padding-left: 2px;
}

.WindowsStyle .ajax__combobox_itemlist
{
	top: auto !important;
	left: auto !important;
	position: relative !important;
	overflow: hidden !important;
	display: block !important;
}

.comboBoxInsideModalPopup
{
	position: absolute;
	top: -12px !important;
}
.comboBoxInsideModalPopup ul
{
	position: relative !important;
	left: 0px !important;
	top: -2px !important;
	Font-Size:11px;
}

.artInsideModalPopup
{
	position: absolute;
	top: -12px !important;
}
.artInsideModalPopup ul
{
	position: absolute !important;
	left: 0px !important;
	top: 30px !important;
	Font-Size:11px;
	max-width:230px;
}

.custBoxInsideModalPopup
{
	position: absolute;
	top: -12px !important;
}
.custBoxInsideModalPopup ul
{
	position: relative !important;
	left: 0px !important;
	top: -2px !important;
	Font-Size:11px;
	max-width:230px;
}

.modalBackground
{
	background-color: Gray;
	filter: alpha(opacity=70);
	opacity:0.7;
}

.popup
{
	border: 1px solid gray;
	border-radius: 12px;
	padding: 5px 10px 5px 10px;
	background-color:White;
	height: 450px;
	width: 450px;
}

.favoritPopUp
{
	border: 1px solid gray;
	border-radius: 12px;
	padding: 5px 10px 5px 10px;
	background-color:White;
	height: 355px;
	width: 400px;
}

.headerAccordionNewTimeLine
{
	background: rgb(122,188,255); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgb(122,188,255) 0%, rgb(96,171,248) 44%, rgb(64,150,238) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgb(122,188,255)), color-stop(44%,rgb(96,171,248)), color-stop(100%,rgb(64,150,238))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgb(122,188,255) 0%,rgb(96,171,248) 44%,rgb(64,150,238) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgb(122,188,255) 0%,rgb(96,171,248) 44%,rgb(64,150,238) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgb(122,188,255) 0%,rgb(96,171,248) 44%,rgb(64,150,238) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgb(122,188,255) 0%,rgb(96,171,248) 44%,rgb(64,150,238) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	border-radius: 5px;
	text-align:center;
	font-size:18px;
	color:White;
	height:25px;
	width:80%;
	vertical-align:middle;
}
	

.headerAccordionNewTimeLineSelected
{
	background: rgb(153,195,255); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgb(153,195,255) 0%, rgb(96,171,248) 44%, rgb(48,128,219) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgb(153,195,255)), color-stop(44%,rgb(96,171,248)), color-stop(100%,rgb(48,128,219))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgb(153,195,255) 0%,rgb(96,171,248) 44%,rgb(48,128,219) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgb(153,195,255) 0%,rgb(96,171,248) 44%,rgb(48,128,219) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgb(153,195,255) 0%,rgb(96,171,248) 44%,rgb(48,128,219) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgb(153,195,255) 0%,rgb(96,171,248) 44%,rgb(48,128,219) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99c3ff', endColorstr='#3080db',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	border-radius: 5px;
	text-align:center;
	font-size:18px;
	color:White;
	height:25px;
	font-weight:bold;
	width:80%;
	vertical-align:middle;
}

/*AutoComplete flyout */
.autocomplete_completionListElement
{
    margin : 0px!important ;
    background-color : inherit ;
    color : windowtext ;
    border : buttonshadow ;
    border-width : 1px ;
    border-style : solid ;
    cursor : 'default' ;
    overflow : auto ;
    height : 200px ;
    font-family : Tahoma ;
    font-size : small ;
    text-align : left ;
    list-style-type : none ;
    }
/* AutoComplete highlighted item */
.autocomplete_highlightedListItem
   {
    background-color : #ffff99 ;
    color : black ;
    padding : 1px ;
    }

    /* AutoComplete item */
.autocomplete_listItem
    {
    background-color : window ;
    color : windowtext ;
    padding : 1px ;
   }