<?xml version="1.0"?>
<appSettings>
  <clear />
  <add key="domainAD" value="AAEAAAD/////AQAAAAAAAAAGAQAAAApsYWJiLmxvY2FsCw==" />
  <add key="tempAdmin" value="admin" />
  <add key="tempPass" value="AAEAAAD/////AQAAAAAAAAAGAQAAAAgxT2t0b2Jlcgs=" />
  <add key="InternOrder" value="IT-Mästaren Mitt AB???2000" />
  <add key="DBServer" value="AAEAAAD/////AQAAAAAAAAAGAQAAABFMQUJCMDFcU1FMRVhQUkVTUws=" />
  <add key="DBDatabaseName" value="F0001" />
  <add key="DBUserId" value="storagedbuser" />
  <add key="DBPassword" value="AAEAAAD/////AQAAAAAAAAAGAQAAAAZhYmMxMjML" />
  <add key="smtpServer" value="AAEAAAD/////AQAAAAAAAAAGAQAAABNzbXRwLml0bWFzdGFyZW4ubmV0Cw==" />
  <add key="smtpPort" value="25" />
  <add key="smtpSSL" value="False" />
  <add key="mailFrom" value="drift@itmastaren.se" />
  <add key="smtpUserName" value="" />
  <add key="smtpPassword" value="" />
  <add key="Debit72" value="" />
  <add key="EjDebit72" value="" />
  <add key="memberAdmin" value="" />
  <add key="adminLoginPage" value="~/Adminlogin.aspx" />
  <add key="adminPage" value="~/Administrator/AdminPage.aspx" />
  <add key="memberDefault" value="Domain Users" />
  <add key="loginPage" value="~/Login.aspx" />
  <add key="userPage" value="~/User/Start.aspx" />
  <add key="timePage" value="~/webbtid.aspx" />
  <add key="yearLifeOfTheCookie" value="1" />
  <add key="configPath" value="~/Web.config" />
  <add key="appSet" value="/configuration/appSettings" />
  <add key="activityCode" value="72" />
  <add key="orderFakturaCode" value="48" />
  <add key="r1" value="" />
  <add key="r2" value="" />
  <add key="r3" value="" />
  <add key="r4" value="" />
  <add key="r5" value="" />
  <add key="r6" value="" />
  <add key="r7" value="" />
  <add key="r8" value="" />
  <add key="r9" value="" />
  <add key="r10" value="" />
  <add key="r11" value="" />
  <add key="r12" value="" />
  <add key="prodprgr" value="" />
  <add key="prodprg2" value="" />
  <add key="prodprg3" value="" />
  <add key="custprgr" value="" />
  <add key="custprg2" value="" />
  <add key="custprg3" value="" />
  <add key="debiteraCode" value="0" />
  <add key="debitEjCode" value="1" />
  <add key="adwageTrue" value="1" />
  <add key="adwageFalse" value="0" />
  <add key="normalPriActivity" value="0" />
  <add key="otherPriActivity" value="5" />
  <add key="normalCacsetActivity" value="11" />
  <add key="otherCacsetActivity" value="0" />
  <add key="invoUtl" value="1" />
  <add key="invoReg" value="2065" />
  <add key="Fin" value="1" />
  <add key="lang" value="752" />
  <add key="errorTextDBUserExistsNot" value="doesn't exists in the DB!!!" />
  <add key="errorTextWrongUserPass" value="Authentication did not succeed. Check username and password" />
  <add key="errorTextNoConToAD" value="Couldn't connect to the AD" />
  <add key="errorTextNoConToDB" value="Couldn't connect to the DB" />
  <add key="errorTextUserNotMember" value="is not a member of the specified group(s)" />
  <add key="errorTextFindNoUser" value="Couldn't find this user:" />
  <add key="errorTextAccountDisabled" value="'s account is disabled" />
  <add key="errorTextTempCred" value="Wrong Credentials" />
  <add key="loginAttempt" value="3" />
  <add key="mailText" value="" />
</appSettings>